<% flash.each do |type, msg| %>
        <div>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
  <% end %>
<main class="d-flex flex-column align-items-center">

  <% if current_user %>
    <h2 class><%= "Welcome #{current_user.name} " %></h2>
    <script>
      window.location.href = '/groups';
    </script>
  <% else %>
    <a href="/users/sign_in">
      <button type="button" class="btn btn-primary m-2">Log in</button>
    </a>
    <a href="/users/sign_up">
      <button type="button" class="btn btn-secondary m-2">Sign Up</button>
    </a>
  <% end %>
</main>

<%= render "footer" %>

